.hero {
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  row-gap: 2rem;
  column-gap: 1rem;
  height: 100vh;
  margin-bottom: 2rem;
}
.hero__avatar {
  border-radius: 100%;
  width: 17.5rem;
  height: 17.5rem;
  box-shadow: 1px 1px 13px 11px rgba(0, 0, 0, 0.5);
  animation: image-anim 1s ease-in-out forwards;
  margin: auto;
}
.hero__title {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-size: clamp(7.5rem, 20vw, 9rem);
  line-height: 1em;
  opacity: 0;
  animation: start-anim 1s ease-in-out forwards;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__sub-title {
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  animation: image-anim 1s ease-in-out forwards;
}
.hero__text {
  font-size: 1rem;
  animation: image-anim 1s ease-in-out forwards;
  padding-inline: 5px;
}
.hero__left {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.link-button {
  border-radius: 100%;
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.5s;
  animation: opadity-anim 5s ease-in-out forwards;
  display: flex;
  flex-direction: column;
  align-items: center;

  & img {
    width: 50px;
    height: 50px;
    transition: 0.3s;
  }

  &:hover {
    transform: scale(1.3);
    transition: 0.4s;

    &::after {
      content: attr(data-tooltip);
      color: var(--text-color);
      position: absolute;
      bottom: -14px;
    }
  }
  &:active {
    transform: scale(1.1);
  }
}
.lincks {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.download-link {
  transition: all 0.2s ease-in-out;
  animation: opadity-anim 5s ease-in-out forwards;
  color: var(--main-bacground);
  padding: 10px 15px;
  border-radius: 99999px;
  font-family: var(--font-heading);
  font-weight: 500;
  text-decoration: none;
  margin: auto;
  position: relative;
  z-index: 1;
  background: none;
  border: none;
  display: inline-block;

  &::before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background-size: 400%;
    z-index: -2;
    filter: blur(5px);
    animation: glowing 20s linear infinite;
    border-radius: 9999px;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--heading-color);
    border-radius: 99999px;
    z-index: -1;
    box-shadow: 1px 1px 13px 11px rgba(0, 0, 0, 0.5);
  }
  &:hover {
    opacity: 0;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
    &::before {
      top: -3px;
      left: -3px;
      right: -3px;
      bottom: -3px;
      filter: blur(6px);
      transition: all 0.2s ease-in-out;
    }
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media (max-width: 870px) {
  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 2rem;
    column-gap: 1rem;
    height: 100vh;
  }
}

@keyframes start-anim {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes image-anim {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes opadity-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
