.nav {
  grid-template-columns: 2fr;
  position: sticky;
  top: 0;
  background-color: var(--main-bacground);
  z-index: 100;
}
.nav__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  padding-inline-start: 0;
}
.nav__item {
  padding: 0.5rem clamp(0.5rem, 20vw, 1.2rem);
  border: solid 1px var(--text-color);
  background-color: var(--heading-color);
  border-radius: 99999px;
  animation: nav-animation 0.5s ease-in-out;

  & a {
    color: var(--main-bacground);
    text-decoration: none;
    font-size: clamp(1rem, 20vw, 1.8rem);
  }
  &:hover {
    transition: 0.5s;
    transform: translateY(-10px);
    background-color: var(--main-bacground);
    & a {
      color: var(--text-color);
    }
  }
  &:active {
    opacity: 0.5;
    transform: scale(1.2);
  }
}

@keyframes nav-animation {
  from {
    opacity: 0;
    transform: scaleX(0);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}

@media (max-width: 870px) {
  .nav__menu {
    justify-content: center;
  }
}
@media (max-width: 730px) {
  .nav {
    grid-template-columns: 1fr;
    position: relative;
  }
  .nav__menu {
    flex-direction: column;
    gap: 1rem;
  }
  .nav__item {
    border-radius: 0;
  }
}
