.skills {
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;

  column-gap: 1rem;

  background-color: var(--heading-color);
  color: var(--main-bacground);
}

.skills__title {
  border-right: solid 1px var(--text-color);
}
.skills__h {
  align-self: center;
  justify-self: center;
  font-size: 2rem;
}
.skills__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  padding-right: 1.5rem;
}
.bullets {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px;

  & li {
    padding: 0.5rem;
    list-style: none;
    font-weight: 500;
  }
}

.level {
  width: 100%;
  border: solid 1px black;
  background-color: rgb(221, 221, 221);
  border-radius: 10px;
  height: 0.4rem;
  position: relative;

  &::after {
    content: "";
    width: 230px;
    background-color: rgb(29, 147, 243);
    height: 0.4rem;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
  }
}
.level[data-rating="1"]::after {
  width: 10%;
}
.level[data-rating="2"]::after {
  width: 20%;
}
.level[data-rating="3"]::after {
  width: 30%;
}
.level[data-rating="4"]::after {
  width: 40%;
}
.level[data-rating="5"]::after {
  width: 50%;
}
.level[data-rating="6"]::after {
  width: 60%;
}
.level[data-rating="7"]::after {
  width: 70%;
}
.level[data-rating="8"]::after {
  width: 80%;
}
.level[data-rating="9"]::after {
  width: 90%;
}
.level[data-rating="10"]::after {
  width: 100%;
}

@media (max-width: 870px) {
  .skills {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 2rem;
    column-gap: 1rem;
    padding: 1rem;
    border-radius: 0;
    padding: 0;
  }
  .skills__text {
    padding-left: 25px;
  }

  .skills__text {
    font-size: 1.5rem;
  }
}
